{% extends 'base.html.twig' %}

{% block title %}New Link{% endblock %}

{% block body %}
    <h1>Create new Link</h1>

    {{ include('link/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('link_index') }}">Back to list</a>
{% endblock %}
